.expense__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: rgb(11, 85, 85);
    color: #fff;
}
.expense__decription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.expense__decription h2{
    color: #3a3a3a;
    font-size: 1.5rem;
    flex: 1;
    margin: 0 1rem;
}
.expense__price{
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #2b003f;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}
@media(min-width: 580px){
    .expense__decription{
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        flex: 1;
    }
    .expense__decription h2{
        font-size: 1.25rem;
    }
    .expense__price{
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}