/*@improt url()*/
*{
  box-sizing: border-box;
}
html{
  font-family: arial;
}
body {
  margin: 0;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
